{% extends 'base.html' %}
{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col bg-danger">
            <h1>Input</h1>
            <p>{{ input }}</p>
            <form action="{{ url_for('index') }}" method="GET">
                <input type="text" class="bg-danger" name="input">
            </form>
        </div>
        <div class="col bg-success">
            <h1>Output</h1>
            <p>{{ output }}</p>
        </div>
    </div>
</div>
{% endblock body %}